<div class="row">
<div class="nav  navbar-default fixed clear" >
	<ul>
  	  <li><%= link_to "Home", :home %></li>
  	  <li class="restaurantName">PRIMO BURGERS</li>
  	  <li><%= link_to "Locations", :locations %></li>
    </ul>
</div>
</div>
<div class="top-pic-wrapper heightMenuPic chalkboard">
	<div class="background-pic menu-wrapper">
	  <div class="row">
        <div class="menu-title"><span class="notSelectedMenu borderRight"> <%= link_to 'Breakfast', :breakfast%></span> LUNCH & DINNER</div>
        <div class="allDay">Served all day!</div>
        <div class="col-md-6 col-sm-6">
          <div class="item-title">BURGERS <i class="flaticon-burger15"></i></div>
      	  <ul class="menu-item">
      		<li>1/4 lb Burger</li>
      		<li>Cheese Burger</li>
      		<li>Chili Burger</li>
      		<li>Chili Cheese Burger</li>
      		<li>Bacon Cheese Burger</li>
      		<li>Double Burger</li>
      		<li>Double Cheese Burger</li>
      		<li>Colossal Burger</li>
      		<li>Primo Best Burger (1/4 lb Cheese Burger, Bacon, Avacado)</li>
      		<li>Garden Burger</li>
      		<li>Western Bacon</li>
      		<li>Ortega Swiss Burger</li>
      	  </ul>
        </div>
     
      <div class="col-md-6 col-sm-6">
      	<div class = "item-title">SANDWICHES  <i class="flaticon-sandwich"></i></div>
      	<ul class="menu-item">
      		<li>Charbroiled Chicken Sandwich</li>
      		<li>Ham & Cheese</li>
      		<li>Grilled Cheese</li>
      		<li>Grilled Ham & Cheese</li>
      		<li>Fish Sandwich (Cod)</li>
      		<li>B.L.T.</li>
      		<li>B.L.T. (With Avacado)</li>
      		<li>Patty Melt</li>
      		<li>Pastrami</li>
      		<li>Steak Sandwich</li>
      		<li>BBQ Beef With Fries</li>
      		<li>Beef Dip With Fries</li>
      		<li>Gyros on Pita</li>
      		<li>Chicken Gyros</li>
      		<li>Tuna Sandwich</li>
      		<li>Tuna Melt</li>
      		<li>Club Sandwich</li>
      		<li>Hot Polish Sausage</li>
      		<li>Spicy Chicken</li>
      		<li>Philly Cheese Steak</li>
      	</ul>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">MEXICAN FOOD <i class="flaticon-snack2"></i></div>
        <p>(All Sandwiches Come on Toast with Mayo, Lettuce, Tomatoes)</p>
      	<ul class="menu-item">
      		<li>Cheese Quesadilla</li>
      		<li>Bean & Cheese Burrito</li>
      		<li>Chicken Burrito</li>
      		<li>Carne Asada Burrito</li>
      		<li>Chicken Quesadilla</li>
      		<li>Carne Asada Quesadilla</li>
      		<li>Chicken Taco</li>
      		<li>Carne Asada Taco</li>
      		<li>Wet Burrito (CK or CA)</li>
      		<li>Nachos (CK or CA)</li>
      		<li>Fish Tacos</li>
      		<li>Fish Burrito</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">SALADS <i class="flaticon-salad"></i></div>
      	<ul class="menu-item">
      		<li>Green Salad (Sm)</li>
      		<li>Green Salad (Large)</li>
      		<li>Greek Salad</li>
      		<li>Tuna Salad</li>
      		<li>Chef Salad</li>
      		<li>Chicken Salad</li>
      		<li>Crispy Chicken Salad</li>
      		<li>Chicken or Beef Tostada Salad</li>
      	</ul>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">ENTREES BASKETS<i class="flaticon-hot33"></i></div>
      	<ul class="menu-item">
      		<li>Hot (or BBQ) Wings</li>
      		<li>Hot (or BBQ) Wings, Fries & Zucchini</li>
      		<li>21 Shrimp Basket (w/ Fries)</li>
      		<li>3 pcs Fish Basket (w/ Fries)</li>
      		<li>4pcs Chicken Strip Basket (w/ Fries)</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">ENTREES <i class="flaticon-thick16"></i></div>
      	<ul class="menu-item">
      		<li>Fish Dinner</li>
      		<li>Carne Asada Plate</li>
      		<li>Chicken Breast</li>
      		<li>Shrimp Dinner</li>
      		<li>N.Y. Steak Dinner</li>
      		<li>21 Shrimp Dinner</li>
      		<li>Chicken Plate</li>
      		<li>Fried Chicken Dinner</li>
      		<li>Chicken Strip Dinner</li>
      	</ul>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item-title">KIDS MENU <i class="flaticon-child"></i></div>
        <p>For Children Under 12. Served With Fries & Soft Drink.</p>
      	<ul class="menu-item">
      		<li>Choice of One:</li>
      		<li>Junior Burger</li>
      		<li>Hot Dog</li>
      		<li>Corn Dog</li>
      		<li>Grilled Cheese</li>
      		<li>Chicken Strips</li>
      	</ul>
      </div>
      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">SIDES  <i class="flaticon-hot51"></i></div> 
      	<ul class="menu-item">
      		<li>French Fries</li>
      		<li>Zucchini</li>
      		<li>Onion Rings</li>
      		<li>Chili cheese Fries</li>
      		<li>Corn Dog</li>
      		<li>Hot Dog</li>
      		<li>Chili Cheese Dog</li>
      		<li>3 Beef Taquitos</li>
      		<li>3 Chicken Taquitos</li>
      		<li>Ranch Dressing</li>
      		<li>Beans</li>
      		<li>Rice</li>
      		<li>American Swiss Cheese</li>
      		<li>Cheddar Cheese</li>
      		<li>Pastrami</li>
      		<li>Avacado</li>
      		<li>Gravy</li>
      		<li>Tomato</li>
      		<li>Salsa (Pico De Gallo</li>
      		<li>Dressing</li>
      	</ul>
      </div>

      <div class="col-md-6 col-sm-6">  
      <div class = "item-title">Soft Drinks  <i class="flaticon-hot51"></i></div> 
      	<ul class="menu-item">
      		<li>Pepsi</li>
      		<li>Diet Pepsi</li>
      		<li>Mountain Dew</li>
      		<li>Pink Lemonade</li>
      		<li>Root Beer</li>
      		<li>Dr. Pepper</li>
      		<li>Slice</li>
      		<li>Rasberry Iced Tea</li>
      		<li>Regular Iced Tea</li>
      	</ul>
      </div>

    </div>

	</div>
</div>