<div class="top-pic-wrapper heightHomePic">
  <div class="background-pic burger"></div>
</div>
<div class="nav navbar-default clear">
  <div class="row">
    <ul>
      <li><%= link_to "menu", :breakfast %></li>
      <li class="restaurantName">PRIMO BURGERS</li>
      <li><%= link_to "Locations", :locations %></li>
    </ul>
  </div>
  <div class="row">
  	<ul class="logoList">
  	  <li>Breakfast</li>
  	  <li>Lunch</li>
  	  <li>Dinner</li>
  	</ul>
  </div>
</div>
