<div class="top-pic-wrapper heightHomePic">
  <div class="background-pic burger"></div>
</div>
<div class="nav navbar-default clear">
  <div class="row">
    <ul>
      <li><%= link_to "menu", :breakfast %></li>
      <li class="restaurantName">PRIMO
          <span class="mascot"><%= image_tag "mascot.png" %></span>
           BURGERS
      </li>
      <li><%= link_to "Locations", :locations %></li>
    </ul>
  </div>
</div>
